body {
  background-color: #222; /* צבע שמתקבל כרקע בהיר */
  margin: 0; /* מסיר מרווחים אוטומטיים של הדפדפן */
  font-family: Arial, sans-serif; /* אופציונלי, רק כדי שהטקסט יראה יפה */
}




.class-card {
   width: 180px; 

  background:var( --card-white);

  border-radius: 16px;

  padding: 16px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  max-width: 360px;

  direction: rtl;

  font-family: Arial, sans-serif;

}
.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.time {
  font-size: 14px;

}


.title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  margin-top: 4px;
  font-size: 14px;

}

.register-btn {
  width: 100%;
  background: none;
  border: none;
  color: var(--accent-red) ;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.register-btn:disabled {
  color: var(--text-gray);          /* צבע אפור במקום אדום */
  cursor: not-allowed;  /* סימן של "אין כניסה" במקום יד */
  opacity: 0.7;         /* קצת שקיפות */
}


.participants-count {
  direction: ltr;
  unicode-bidi: isolate; /* שומר שהמספרים לא יתהפכו גם אם הכרטיס כולו בעברית */
  display: block;
  text-align: center; /* כדי שזה יישאר באמצע הכרטיס */
}

/* עיצוב אייקון הלב - מחליף את ה-SX */
.favorite-icon {
  color: var(--accent-red) !important;
}