.team-section {
    background-color: var(--bg-main);
    padding: 100px 20px;
    color: var(--text-white);
}

.team-container {
    max-width: 1170px;
    margin: 0 auto;
}


.team-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 45px;
}

.team-subtitle {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 8px;
}

.team-main-title {
    font-size: 38px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}

.team-appointment-btn {
    background: transparent;
    color: var(--text-white);
    border: 1px solid var(--primary-color);
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition-fast);
}

.team-appointment-btn:hover {
    background-color: var(--primary-color);
}

/* Card Style */
.team-img-box {
    height: 480px;
    background-image: var(--bg-image); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    transition: transform 0.6s ease;
}

.team-card:hover .team-img-box {
    transform: scale(1.03);
}

/* Hover Overlay */
.team-hover-content {
    background: linear-gradient(transparent, var(--bg-main));
    width: 100%;
    padding: 40px 20px 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s ease;
}

.team-card:hover .team-hover-content {
    opacity: 1;
    transform: translateY(0);
}

.team-hover-content h4 {
    margin: 0;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 20px;
}

/* Custom Swiper Pagination */
.custom-pagination {
    display: flex !important;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    position: relative;
}

.custom-pagination .swiper-pagination-bullet {
    width: 30px !important;
    height: 4px !important;
    background-color:var(--dark-gray)!important;
    border-radius: 0 !important;
    opacity: 1 !important;
    cursor: pointer;
    transition: 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
}

/* Responsive */
@media (max-width: 767px) {
    .team-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    
    .team-img-box {
        height: 400px;
    }
}