/* AdminActions.css */
.admin-actions-wrapper {
    margin: 0 15px;
    display: flex;
}

.admin-select {
    background-color: var(--dark-gray);
    color: var(--text-white);
    border: 1px solid var(--dark-gray);
    border-radius: 6px;
    padding: 8px 35px 8px 16px; 
    font-size: 14px;
    cursor: pointer;
    outline: none;
    
    /* החץ המותאם - נותן את הטאץ' המקצועי */
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23ff4500' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.admin-select:hover {
    border-color: var(  --primary-hover);
}

.admin-select:focus {
    border-color:  var(--secondary-color);
}


