.day-group h1 {
  color: var(--text-white);
  font-size: 2.0rem;
  margin-bottom: 30px;
  border-left: 6px solid var(--secondary-color); 
  text-transform: capitalize;
  padding-left: 20px;
  width: 180px; 
  overflow: hidden; 
  white-space: nowrap;
}

.cards-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%; 
  max-width: 2000px;
}