
.main-header {

  background-color: transparent !important; 
  width: 100%;
 position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

}


.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
}


.desktop-nav {
    display: flex;
    gap: 30px; 
}

.nav-link {
    color: var(--text-white);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link:hover, .nav-link.active {
    color: var(--primary-color); 
}


.logo {
    font-size: 28px;
    font-weight: 900;
    font-style: italic;
}

.logo-white { color: var(--text-white); }
.logo-orange { color: var(--primary-color); }
.user-profile {
 
    margin-left: auto; 
    
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-white);
    cursor: pointer;
    padding-left: 20px; 
}
.right-section {
  display: flex;
    align-items:center;
    gap: 20px;
}


.gym-button {
    background-color: var(--primary-color);
    color: var(--text-white);
    padding: 12px 25px;
    border: none;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    transition: background 0.3s;
    align-self: stretch; 
}

.gym-button:hover {
    background-color:  var( --primary-hover);
}
.user-info-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 2px;
}

.logout-btn {
  background: none;
  border: none;
  color: var(--text-gray); 
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

.logout-btn:hover {
  color: var(--primary-color); 
}
.schedule-icon-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 15px; 
  color: var(--text-white);
  transition: transform 0.2s, color 0.2s;
}

.schedule-icon-wrapper:hover {
  color: var(--primary-color); 
  transform: scale(1.1); 
}

.schedule-icon {
  font-size: 28px !important; 
}