 :root {
  
  --primary-color: #f36100; /* הצבע המקורי של הטמפלייט הוא כתום עז */
  --primary-hover: orangered;
  
 
  --bg-main: #0a0a0a;       /* רקע כללי עמוק */
 
  /* טקסט */
  --text-white: #ffffff;
 
  
  --dark-gray:#252525;
  --secondary-color:#00b894;
} 
.swal2-container {
  z-index: 10000 !important;
}