.my-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #222;
  padding: 10px 20px;
  width: 250px;
  position: absolute;  /* מאפשר למקם במדויק */
  left: 50%;           /* ממקם באמצע אופקית */
  transform: translate(-50%, 50%); /* מזיז חזרה חצי מהגובה והרוחב */
}

.my-nav a {
  color: white;
  text-decoration: none;
  margin: 0 50px;
  cursor: pointer; 
}

.nav-toggle {
  display: none; /* מוצג רק במובייל */
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}