
.my-custom-popup {
    border-radius: 20px !important; 
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; 
}


.swal2-confirm {
    border-radius: 8px !important; 
    text-transform: uppercase;   
    font-weight: bold !important;
    padding: 12px 24px !important;
    letter-spacing: 1px;          
}


.swal2-styled:focus {
    box-shadow: none !important;
}


.swal2-icon {
    border: none !important;
}